modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Dev Backend"

[[workflows.workflow]]
name = "Dev Backend"
author = 43928448
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"

[[workflows.workflow]]
name = "Front"
mode = "sequential"
author = 43928448

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
